html {
	font-family: "Arial", "Helvetica", sans-serif;
}

.plant-names {
	font-style: italic;
}

<!-- The next 2 CSS properties are for formatting the table -->
table {
	border-collapse: collapse;
	border: 1px solid black;
}
th, td {
	border: 1px solid black;
	padding: 10px 20px;
}
